<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below.</h1>
<form action="/analyze" method="get">
<textarea name="text" id="" cols="30" rows="10" data-qb-tmp-id="lt-684205" spellcheck="false" data-gramm="false" style="width: 826px; height: 180px;"></textarea>
<br>
    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
<button type="submit">Analyze text</button>
</form>
</body>
</html>